.shopping-cart {
  width: 1.7em;
  height: 1.5em;
}

.logo {
  height: 4em;
  padding: 0px;
  margin: 0;
}

.nav-div {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;

}

.cart-link {
  position: relative;
  align-items: center;
  text-align: center;
  width: 2.9em;
}

.cart-number {
  position: absolute;
  right: 0;
  top: 0;
}

.name-button {
  border: 0px;
  background-color: transparent;
}

.dropdown-menu {
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
