.shopping-cart{
    width:1.7em;
    height: 1.5em;
}

.logo{
    height: 4em;
    padding: 0px;
    margin: 0;
}

.nav-div{
    background-color: white;
    padding: 0;
    padding-left: 10px;
}

.cart-link{
    position: relative;
    align-items: center;
    text-align: center;
    width: 2.9em;
}

.cart-number{
    position:absolute;
    right: 0;
    top: 0;
}

.name-button{
    border: 0px;
    background-color: transparent;
}

.dropdown-menu{
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}