$color-orange: #FF6000;
$color-lightOrange: #FFA559 ;
$color-beige: #FFE6C7;
$color-lightGray: #8a8a8a;
$color-gray: #454545;
$color-darkGray: #1a1a1a;
$color-lightBlue: #34b2f1a1;
$color-blue: #1eabf1;